.main {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.logo {
  width: 160px;
  margin: 36px auto 18px;
}

.searchContainer {
  display: flex;
  width: 100vw;
  align-items: center;
}

.searchBar {
  display: flex;
  border: 1px #dadce0 solid;
  width: 100%;
  margin: 8px;
  padding: 4px 8px;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
}

.searchBar:focus-within, .searchBar:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.searchBar svg {
  fill: #9aa0a6;
  height: 20px;
}

.searchBar input {
  flex: 1;
  height: 25px;
  font-size: 1rem;
  padding-left: 8px;
  border: none;
}

.searchBar input:focus {
  outline: none;
}

.searchResults li {
  margin: 8px;
  font-size: 1rem;
}

.searchResult {
  color: red;
}

.searchResult:hover, .active {
  background-color: #eee;
}

.bold {
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 272px;
  }

  .searchBar input {
    padding-left: 16px;
  }
}
