.container {
  height: 100vh;
  width: 100vw;
}

.centered {
  width: fit-content;
  margin: auto;
}

.searchResults li {
  margin: 8px;
}

.searchResults li:hover {
  text-decoration: underline;
  font-style: bold;
  cursor: pointer;
}