.container {
  color: #292929;
  max-width: 70ch;
  margin: 8px auto;
}

main.container {
  font-family: "Lora", serif;
  overflow-x: hidden;
}

/*
Medium uses color #292929
    font size | line-height | (letter-spacing)
Full Width: >700px
  Title: Signifier (serif)
    48px  60px (-0.5px) 
  Paragraph: Charter BT (serif)
    21px  32px (-0.1px)
  Headings: Söhne (non serif)
    H2  30px 36px
    H3  22    28  
Small screen: <700px
  Title: 34px  42px
  Paragraph: 18    28
  H2: 22    28
  H3: 20    24
  
Paragraphs are 32px (20px small screen) margin-top.
First paragraph after heading is 12 (10px) margin-top.
Headings 27 (16px)
*/

.container h1 {
  font-family: "Prata", serif;
  font-style: normal;
  font-size: 48px;
  margin-top: 27px;
  margin-bottom: 16px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc((480 / 720) * 100%);
  margin-bottom: -8px;
  box-shadow: 0px 0px 100px grey inset;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container h2,
.container h3,
.container h4 {
  font-family: "Raleway", sans-serif;
}

.container h2 {
  font-size: 30px;
  margin-top: 27px;
  line-height: 36px;
}

.container h3, .container h4 {
  font-size: 22px;
  margin-top: 27px;
  line-height: 28px;
}

.container p {
  font-size: 20px;
  margin-top: 32px;
  line-height: 32px;
  letter-spacing: -0.1px;
}

.container h2 + p,
.container h3 + p,
.container h4 + p {
  margin-top: 12px;
}

.container ol, .container ul {
  margin-left: 18px;
}

.container li {
  margin-top: 16px;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 8px;
  }

  .container h1 {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 42px;
  }

  .container h2 {
    font-size: 22px;
    margin-top: 16px;
    line-height: 28px;
  }

  .container h3, .container h4 {
    font-size: 20px;
    margin-top: 16px;
    line-height: 24px;
  }

  .container p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    letter-spacing: -0.1px;
  }

  .container h2 + p,
  .container h3 + p,
  .container h4 + p {
    margin-top: 10px;
  }
}
